{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
<div>
    <LinkTo @route="lifts">
        <button>START</button>
    </LinkTo>
    {{outlet}}
</div>